# Output and cache
_Debug/
Compiled/
AudioCache/
warnings.log

# Debug engine output
allegro.log
test.ini

# Backup files
*.bak
backup_acsprset.spr

# Local user configuration
*.user

# Temporary files
_OpenInEditor.lock
~aclzw.tmp
game28.dta
*.exe
